<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>欢迎页面</title>
    <link th:href="@{/css/bootstrap.min.css-v=3.3.5.css}"  rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css-v=4.4.0.css}"  rel="stylesheet">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.min.css-v=4.0.0.css}" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">Q1 销量</h5>
                    <h2 class="text-navy">
                        <i class="fa fa-play fa-rotate-270"></i> 上升
                    </h2>
                    <small>更新时间：12天以前</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content ">
                    <h5 class="m-b-md">Q2 销量</h5>
                    <h2 class="text-navy">
                        <i class="fa fa-play fa-rotate-270"></i> 上升
                    </h2>
                    <small>更新时间：12天以前</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">Q3 销量</h5>
                    <h2 class="text-danger">
                        <i class="fa fa-play fa-rotate-90"></i> 下降
                    </h2>
                    <small>更新时间：12天以前</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">Q4 销量</h5>
                    <h2 class="text-danger">
                        <i class="fa fa-play fa-rotate-90"></i> 下降
                    </h2>
                    <small>更新时间：12天以前</small>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>