<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gjy.mapper.product.ProductMapper">
    <sql id="Base_Column_List" >
        id, name, product_type_id, brand_id, product_spec_id, product_unit_id, remark, deleted, create_time, update_time
    </sql>

    <!-- 查询所以未删除 -->
    <select id="selectAllProduct" resultType="com.gjy.model.product.Product">
        SELECT id, name
        FROM product
        WHERE deleted = 0
    </select>

    <!-- 通过名称查询 -->
    <select id="selectByName" resultType="com.gjy.model.product.Product">
        SELECT
        <include refid="Base_Column_List" />
        FROM brand
        WHERE deleted = 0 AND name = #{productName}
        limit 1
    </select>

    <!-- 分页列表查询-->
    <select id="selectListPage" resultType="com.gjy.dto.ProductDTO">
        SELECT p.id, p.name productName, b.name brandName, p.create_time, t.name typeName, s.name specName, u.name unitName
        FROM (
            SELECT
            id, name, brand_id, create_time, product_type_id, product_spec_id, product_unit_id
            FROM product
            WHERE deleted = 0
            ORDER by id DESC
        ) p
        LEFT JOIN (SELECT id, name FROM brand WHERE deleted = 0) b ON p.brand_id = b.id
        LEFT JOIN (SELECT id, name FROM product_type WHERE deleted = 0) t ON p.product_type_id = t.id
        LEFT JOIN (SELECT id, name FROM product_spec WHERE deleted = 0) s on p.product_spec_id = s.id
        LEFT JOIN (SELECT id, name FROM product_unit WHERE deleted = 0) u on p.product_unit_id = u.id
    </select>
</mapper>